<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <header class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand mb-0 h1 text-dark" href="assign09.html">
                getMyRate
            </a>
        </div>
    </header>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class="img-fluid" src="../resources/kiki.jpg" alt="" width="350" height="525">
            </div>
            <div class="col-sm-8 col-md-8">
                <div id="result"></div>
                <form id="packageInfo">
                    <h2>Get your First Class rate now!</h2>
                    <br>
                    <div class="form-group" id="mail-type-group">
                        <label>Types: </label><br>
                        <input type="radio" id="stamped" name="mail-type" value="stamped" required>
                        <label for="stamped">Letters (Stamped) (not over 3.5 oz)</label><br>
                        <input type="radio" id="metered" name="mail-type" value="metered">
                        <label for="metered">Letters (Metered) (not over 3.5 oz)</label><br>
                        <input type="radio" id="flats" name="mail-type" value="flats">
                        <label for="flats">Large Envelopes (Flats) (not over 13 oz)</label><br>
                        <input type="radio" id="package" name="mail-type" value="package">
                        <label for="package">First-Class Package Service—Retail (not over 13 oz)</label><br>
                    </div>
                    <p id="type-error" class="input-error" style="color:red"></p>

                    <div class="form-group" id="zone-input-group"></div>

                    <div class="form-group" id="weight-input-group"></div>
                    <p id="weight-error" class="input-error" style="color:red"></p>
                    <button class="btn btn-primary" type="button" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <script>

        for (mT of document.getElementsByName("mail-type")) {
            mT.addEventListener("change", injectWeight);
            mT.addEventListener("change", injectZone);
        }
        function injectWeight() {
            let mailTypes = document.getElementsByName("mail-type");
            for (mT of mailTypes) {
                if (mT.checked) {
                    document.getElementById("weight-input-group").innerHTML = '<label for="weight"> Weight (ounces):</label><input class="form-control" type="number" placeholder="Item\'s Weight" id="weight" name="weight" required>'
                    break;
                }
                else {
                    document.getElementById("weight-input-group").innerHTML = "";
                }
            }
        }

        function injectZone() {
            if (document.getElementById("package").checked) {
                document.getElementById("zone-input-group").innerHTML = '<label for="zone">Select zone: </label>' +
                    '<select id="zone" class="form-control"><option value="1">1 or 2</option>' +
                    '<option value="3">3</option><option value="4">4</option>' +
                    '<option value="5">5</option><option value="6">6</option>' +
                    '<option value="7">7</option><option value="8">8</option>' +
                    '<option value="9">9</option></select>';

            }
            else {
                document.getElementById("zone-input-group").innerHTML = "";
            }
        }

        document.getElementById("submit").addEventListener("click", makeRequest);
        function makeRequest() {
            //Validate here first
            if (validated()) {
                //Once everything is validated, make the request, if not, don't
                let weight = document.getElementById("weight").value;
                let mailType = "";

                mailTypes = document.getElementsByName("mail-type");
                for (mT of mailTypes) {
                    if (mT.checked) {
                        mailType = mT.value;
                        break;
                    }
                }

                let requestURL = "/getRate";
                let getRateQuery = "weight=" + weight + "&type=" + mailType;

                if (document.getElementById("zone")) {
                    getRateQuery += "&zone=" + document.getElementById("zone").value;
                }

                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("result").innerHTML = this.responseText;
                    }
                }

                xhr.open("POST", requestURL, true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send(getRateQuery);
            }
        }

        function validated() {
            let typeValidated = true;
            let weightValidated = true;

            //check type input:
            let numCheck = 0;
            for (mT of document.getElementsByName("mail-type")) {
                if (mT.checked) {
                    numCheck++;
                }
            }
            if (numCheck == 0) {
                document.getElementById("type-error").innerHTML = "*Please select a mail type.";
                typeValidated = false;
            }
            else {
                document.getElementById("type-error").innerHTML = "";
            }

            //check weight input:
            if (document.getElementById("weight")) {
                let el = document.getElementById("weight");
                //is it empty?
                if (el.value == "") {
                    document.getElementById("weight-error").innerHTML = "*Please enter weight of the item."
                    weightValidated = false;
                }
                else if ((document.getElementById("stamped").checked || document.getElementById("metered").checked) &&
                    (el.value <= 0 || el.value > 3.5)) {
                    document.getElementById("weight-error").innerHTML = "*For the selected mail type, weight must be between 0 and 3.5. Weight can't be 0."
                    weightValidated = false;
                }
                else if ((document.getElementById("flats").checked || document.getElementById("package").checked) &&
                    (el.value <= 0 || el.value > 13)) {
                    document.getElementById("weight-error").innerHTML = "*For the selected mail type, weight must be between 0 and 13. Weight can't be 0."
                    weightValidated = false;
                }
                else {
                    document.getElementById("weight-error").innerHTML = "";
                }
            }

            return (typeValidated && weightValidated);
        }

    </script>
    <!--Bootstrap javascript files-->
</body>

</html>