<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 09</title>
</head>
<body>
    <h1>Welcome to assign 09</h1>
    <div>
        Click this button to get to the calculator:
        <button onclick="window.location.href='/pages/assign09.html'">Postage Calculator</button>
    </div>
</body>
</html>